body {
  font-family: "Outfit", Arial, sans-serif;
  margin: 0px;
  display: grid;
  justify-content: center;
  background: #d4e0ee;
}

h2,
p,
img {
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 10px;
}

div {
  max-width: 375px;
  display: grid;
  justify-items: center;
  gap: 20px;
  margin: 125px 40px;
  padding: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 5px 10px 10px #a6afbb;
}

.texto-1 {
  color: #1f3251;
  text-align: center;
}

.texto-2 {
  font-size: 1rem;
  font-weight: 300;
  color: #7b879d;
  padding-bottom: 10px;
  text-align: center;
}
